* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
}

canvas {
  display: block;
  border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

